@layer QkAnim {

    ul[class*="qk-list"],
    ol[class*="qk-list"] {
        --qk-list-dur: 3s;
        position: relative;
        margin: 0;
        padding-inline-start: 0;
        width: 100%;
        aspect-ratio: 1/1;

        list-style: none;
        overflow: hidden;
    }

    ul[class*="qk-list"]>li,
    ol[class*="qk-list"]>li {
        position: absolute;
    }

    ul[class*="qk-list"] *,
    ol[class*="qk-list"] * {
        width: inherit;
        height: inherit;
    }

    ul.qk-list>li {
        opacity: 0;
    }

    ul.qk-list>li.qk-list-anim-begin {
        opacity: 1;
    }

    ul.qk-list-fade>li {
        opacity: 0;
        transition: calc(var(--qk-list-dur) / 3);
    }

    ul.qk-list-fade>li.qk-list-anim-begin {
        opacity: 1;
    }

    ul.qk-list-slide>li {
        opacity: 0;
        translate: -30px;
    }

    ul.qk-list-slide>li.qk-list-anim-begin {
        opacity: 1;
        translate: 0 0;
        transition: calc(var(--qk-list-dur) / 3);
    }

    ul.qk-list-slide-fade>li {
        opacity: 0;
        translate: -30px;
        transition: calc(var(--qk-list-dur) / 3);
    }

    ul.qk-list-slide-fade>li.qk-list-anim-begin {
        opacity: 1;
        translate: 0 0;
    }

    ul.qk-list-mask>li {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
        transition: clip-path calc(var(--qk-list-dur) / 3);
    }

    ul.qk-list-mask>li.qk-list-anim-begin {
        opacity: 1;
        clip-path: inset(0);
    }

    ul.qk-list-mask-fade>li {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
        transition: calc(var(--qk-list-dur) / 3);
    }

    ul.qk-list-mask-fade>li.qk-list-anim-begin {
        opacity: 1;
        clip-path: inset(0);
    }
}